:root {
    --background-green: #C5E4E7;
    --dark-green: #00474B;
    --light-green: #26C2AE;
    --white: #FFFFFF;
    --placeholder-color: #547878;
    --main-font-color: #5E7A7D;
    --light-details: #F3F9FA;
    --grey: #7F9D9F;
    --main-font: "Space Mono";
}

body {
    font-family: var(--main-font);
    font-size: 16px;
    background-color: var(--background-green);
}

h2 {
    color: var(--main-font-color);
    font-weight: 700;
    margin-bottom: 1rem;
}
